{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <img src="https://image.ibb.co/bWBpik/S_6755520344149.jpg" alt ="S_6755520344149" style = "border-radius:50%; width: 250px; height: 250px; display:black;
    margin:0 auto"/>
    <style>
	img:hover {
	  animation: shake 0.5s;
	  animation-iteration-count: infinite;
	}

	@keyframes shake {
	  0% { transform: translate(1px, 1px) rotate(0deg); }
	  10% { transform: translate(-1px, -2px) rotate(-1deg); }
	  20% { transform: translate(-3px, 0px) rotate(1deg); }
	  30% { transform: translate(3px, 2px) rotate(0deg); }
	  40% { transform: translate(1px, -1px) rotate(1deg); }
	  50% { transform: translate(-1px, 2px) rotate(-1deg); }
	  60% { transform: translate(-3px, 1px) rotate(0deg); }
	  70% { transform: translate(3px, 1px) rotate(-1deg); }
	  80% { transform: translate(-1px, -1px) rotate(1deg); }
	  90% { transform: translate(1px, 2px) rotate(0deg); }
	  100% { transform: translate(1px, -2px) rotate(-1deg); }
	}
	</style>
	<section name="nama" style="color:blue;font-sze:20px;font-family: 'Kaushan Script', cursive; ">
	<h1>Melkisedek Bernadius</h1>
    <section name="portofolio" style="color: red; font-size:20px; font-family: 'Permanent Marker', cursive;">
    <h2>Portofolio</h2>
    </section>
    <hr/>
    <section name="bio" style="color:white; font-family: 'Poiret One', cursive;font-size:20px">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me" style="color:white; font-family: 'Poiret One', cursive; font-size:20px">
        <h3>List</h3>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
	<section name="form" style="color:white; font-family: 'Poiret One', cursive; font-size:20px">
		<h3>Send Message</h3>
		<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
			{% csrf_token %}
			{{ message_form }}
			<br>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</section>

    {% endblock %}

